# Ignore Ruby byte-compiled files
**/*.rbc

# Ignore files related to capybara tests
**/capybara-*.html

# Ignore .rspec configuration files
**/.rspec

# Ignore SQLite database files
**/db/*.sqlite3
**/db/*.sqlite3-journal
**/db/*.sqlite3-[0-9]*

# Ignore files in the public/system directory
**/public/system

# Ignore coverage files
**/coverage/

# Ignore temporary spec files
**/spec/tmp

# Ignore orig files
**/*.orig

# Ignore rerun.txt
**/rerun.txt

# Ignore pickle-email html files
**/pickle-email-*.html

# Ignore all log files and temp files
**/log/*
**/tmp/*
!**/log/.keep
!**/tmp/.keep

# Ignore .env files to prevent sensitive data from being committed
**/.env
**/.env*.local

# Ignore files related to the bundle install
**/.bundle
**/vendor/bundle

# Ignore rvmrc file (not relevant if not using RVM)
**/.rvmrc

# Ignore bower files (not relevant if not using Bower)
**/vendor/assets/bower_components
**/*.bowerrc
**/bower.json

# Ignore pow environment settings
**/.powenv

# Ignore Byebug command history file
**/.byebug_history

# Ignore node_modules directory
**/node_modules/

# Ignore precompiled javascript packs
**/public/packs
**/public/packs-test
**/public/assets

# Ignore yarn error logs
**/yarn-error.log
**/yarn-debug.log*
**/.yarn-integrity

# Ignore uploaded files in development
**/storage/*
!**/storage/.keep

# Ignore public/uploads directory
**/public/uploads
