<%= javascript_pack_tag("hello_react") %>

<h1 class="xx-large border-bottom border-dark mb-4">このアプリについて</h1>
<div class="large">
    <p class="ml-4">
        最近のテトリスでは, 連続でライン消去を行うことで相手にブロックを送れます.<br>
        火力は以下の表の通りとても強く, 4列開けてRENをたくさん繋げる「4列REN」という戦術が知られています.<br>
        このアプリはテトリスの「4列RENのRENを繋げる練習」のためのアプリです.<br>
    </p>
    <table class="table table-bordered large border-top border  table-striped w-75">
        <thead class="text-center table-dark">
            <th colspan="3">ぷよぷよテトリス</th> <th colspan="3">テトリス99</th>
        </thead>
        <thead class="text-center">
            <th class="table-primary">REN</th><th class="table-primary">火力</th><th class="table-primary">累計火力</th>　<th class="table-success">REN</th><th class="table-success">火力</th><th class="table-success">累計火力</th>
        </thead>
        <tbody class="text-center table-light ">
            <tr>
                <td class="table-primary">0</td> <td>+0</td>  <td>0</td> <td class="table-success">0</td> <td>+0</td>  <td>0</td> 
            </tr>
            <tr>
                <td class="table-primary">1</td> <td>+0</td>  <td>0</td> <td class="table-success">1</td> <td>+1</td>  <td>1</td> 
            </tr>
            <tr>
                <td class="table-primary">2</td> <td>+1</td>  <td>1</td> <td class="table-success">2</td> <td>+1</td>  <td>2</td> 
            </tr>
            <tr>
                <td class="table-primary">3</td> <td>+1</td>  <td>2</td> <td class="table-success">3</td> <td>+2</td>  <td>4</td> 
            </tr>
            <tr>
                <td class="table-primary">4</td> <td>+2</td>  <td>4</td> <td class="table-success">4</td> <td>+2</td>  <td>6</td> 
            </tr>
            <tr>
                <td class="table-primary">5</td> <td>+2</td>  <td>6</td> <td class="table-success">5</td> <td>+3</td>  <td>9</td> 
            </tr>
            <tr>
                <td class="table-primary">6</td> <td>+3</td>  <td>9</td> <td class="table-success">6</td> <td>+3</td>  <td>12</td> 
            </tr>
            <tr>
                <td class="table-primary">7</td> <td>+3</td>  <td>12</td> <td class="table-success">7</td> <td>+4</td>  <td>16</td> 
            </tr>
            <tr>
                <td class="table-primary">8</td> <td>+4</td>  <td>16</td> <td class="table-success">8</td> <td>+4</td>  <td>20</td> 
            </tr>
            <tr>
                <td class="table-primary">9</td> <td>+4</td>  <td>20</td> <td class="table-success">9</td> <td>+4</td>  <td>24</td> 
            </tr>
            <tr>
                <td class="table-primary">10</td> <td>+4</td>  <td>24</td> <td class="table-success">10</td> <td>+5</td>  <td>29</td> 
            </tr>
            <tr>
                <td class="table-primary">11</td> <td>+5</td>  <td>29</td> <td class="table-success">11</td> <td>+5</td>  <td>34</td> 
            </tr>
            <tr>
                <td class="table-primary">12</td> <td>+5</td>  <td>34</td> <td class="table-success">12</td> <td>+5</td>  <td>39</td> 
            </tr>
            <tr>
                <td class="table-primary">13</td> <td>+5</td>  <td>39</td> <td class="table-success">13</td> <td>+5</td>  <td>44</td> 
            </tr>
            <tr>
                <td class="table-primary">14</td> <td>+5</td>  <td>44</td> <td class="table-success">14</td> <td>+5</td>  <td>49</td> 
            </tr>
            <tr>
                <td class="table-primary">15</td> <td>+5</td>  <td>49</td> <td class="table-success">15</td> <td>+5</td>  <td>54</td> 
            </tr>
            <tr>
                <td class="table-primary">16</td> <td>+5</td>  <td>54</td> <td class="table-success">16</td> <td>+5</td>  <td>59</td> 
            </tr>
            <tr>
                <td class="table-primary">17</td> <td>+5</td>  <td>59</td> <td class="table-success">17</td> <td>+5</td>  <td>64</td> 
            </tr>
            <tr>
                <td class="table-primary">18</td> <td>+5</td>  <td>64</td> <td class="table-success">18</td> <td>+5</td>  <td>69</td> 
            </tr>
            <tr>
                <td class="table-primary">19</td> <td>+5</td>  <td>69</td> <td class="table-success">19</td> <td>+5</td>  <td>74</td> 
            </tr>
            <tr>
                <td class="table-primary">20</td> <td>+5</td>  <td>74</td> <td class="table-success">20</td> <td>+5</td>  <td>79</td> 
            </tr>
        </tbody>


    </table>

</div>

<h1 class="xx-large border-bottom border-dark mb-4">デモ動画(要差し替え)</h1>
<div>
    <iframe width="1008" height="567" src="https://www.youtube.com/embed/s8pXOEUUQVU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

