
<h1 class="border-bottom border-dark">操作モード</h1>
<div id="gameover" ></div>
<%# <div class="row" style="height:100px"></div> %>


<div class="left-wrapper">
    <div id="ren"> </div>
    <div id="record-form"> </div>
    <div id="retry"></div>
    <div id="matta"></div>
</div>
<div class="tetris">
    <div id="hold" class="hold-wrapper">  </div>
    <div id="grid" class="grid-wrapper">  </div>
    <div id="next" class="next-wrapper">  </div>
</div>

<div class="right-wrapper"> 
    <table class="instruction table table-bordered table-dark">
        <tr>
            <th colspan="2"> 操作方法 </th>
        </tr>
        <tr>
            <td>W</td>
            <td>ハードドロップ</td>
        </tr>
        <tr>
            <td>A</td>
            <td>ミノを左に</td>
        </tr>
        <tr>
            <td>D</td>
            <td>ミノを右に</td>
        </tr>
        <tr>
            <td>S</td>
            <td>ミノを下に</td>
        </tr>
        <tr>
            <td>スペース</td>
            <td>ホールド</td>
        </tr>
        <tr>
            <td>→</td>
            <td>右回転</td>
        </tr>
        <tr>
            <td>←</td>
            <td>左回転</td>
        </tr>
    </table>
</div>

<div class="row"> </div>

<div id="history"></div>


<%= javascript_pack_tag( "operate_mode") %>
