
<h1>操作モード</h1>

<%# <div class="tetris">
</div> %>

<div class="tetris">
    <div id="hold" class="hold-wrapper">  </div>
    <div id="grid" class="grid-wrapper">  </div>
    <div id="next" class="next-wrapper">  </div>
 
</div>

<%= javascript_pack_tag( "operate_mode") %>
