
<h1 class="border-bottom border-dark">選択モード</h1>
<div id="gameover" ></div>
<%# <div class="row" style="height:100px"></div> %>

<div class="main">
    <div class="left-wrapper">
        <div id="ren"> </div>
        <div id="record-form"> </div>
        <div id="retry"></div>
        <div id="matta"></div>
    </div>
    <div class="tetris">
        <div id="hold" class="hold-wrapper">  </div>
        <div id="grid" class="grid-wrapper">  </div>
        <div id="next" class="next-wrapper">  </div>
    </div>

    <div class="right-wrapper"> 
        <div style=""></div>
        <table class="large table table-bordered text-center">
            <tr>
                <th colspan="2"> 画面を縮小するためには </th>
            </tr>
            <tr>
                <td>WindowsOS</td>
                <td>Control押しながら-</td>
            </tr>
            <tr>
                <td>MacOS</td>
                <td>Command押しながら-</td>
            </tr>
        </table>
    </div>

    <div class="row"> </div>
    
    <div id="choice"></div>

    <div id="history"></div>
</div>

<%= javascript_pack_tag( "select_mode" ) %>
