<%= javascript_pack_tag( "select_mode") %>


<h1>選択モード</h1>



<div class="grid"> 
    <div class="row"> 
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
    </div>

    <div class="row"> 
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
    </div>

    <div class="row"> 
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
    </div>

    <div class="row"> 
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
    </div>

    <div class="row"> 
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
    </div>

    <div class="row"> 
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
    </div>

    <div class="row"> 
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
        <div class="cell"> </div>
    </div>

</div>

