// Place all the styles related to the tetris controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$cell-size: 30px;
$grid-width: $cell-size * 10;
$tetris-height: $cell-size * 25;

$hold-cell-size: 20px;
$hold-size: $hold-cell-size * 5;

$next-cell-size: 15px;
$next-size: $next-cell-size * 5;

$tetris-width: 1.2 * ($hold-size + $grid-width + $next-size);


body{
    padding-top:80px;
}

.space{
    height:30px;
}

.tetris{
    float:left;
    height:$tetris-height;
    width:$tetris-width;
    // width:$tetris-width; 
    // width:auto;
    // height:fit-content;
    background-color:lightpink;
}

.hold-wrapper{
    float:left;
    width: $hold-size*1.2;
    height:100%;
}

.grid-wrapper{
    float:left;
    width: $grid-width*1.2;
    height:100%;
}

.next-wrapper{
    float:left;
    width: $next-size*1.2;
    height:100%;
}

.hold{
    width: $hold-size;
    height: $hold-size;
    background-color: black;
    border: solid cyan 3px;
    padding-left:20px;
    padding-top:25px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}

.null-hold-cell{
    height: $hold-cell-size;
    width: $hold-cell-size;
    float: left;
}

.hold-cell{
    height: $hold-cell-size;
    width: $hold-cell-size;
    float: left;
    border: solid #555 2px;
}

.next-list{
    margin-top:10px;
}

.next{
    width: $next-size;
    height: $next-size;
    background-color: black;
    border: solid cyan 3px;
    padding-left:20px;
    padding-top:25px;
    margin-left:auto;
    margin-right:auto;
}

.null-next-cell{
    height: $next-cell-size;
    width: $next-cell-size;
    float: left;
}

.next-cell{
    height: $next-cell-size;
    width: $next-cell-size;
    float: left;
    border: solid #555 2px;
}

.grid{
    width:$grid-width;
    float:left;
    margin-left: 60px;
    margin-top:30px;
}

.cell{
    height: $cell-size;
    width: $cell-size;
    float: left;
    border: solid #555 2px;
}


.empty{
    background-color: #000;
}


.full{
    background-color: #888;
}

.T{
    background-color: purple;   
}

.S{
    background-color: greenyellow;   
}
.Z{
    background-color: red;   
}
.O{
    background-color: yellow;   
}
.L{
    background-color: orange;   
}
.J{ 
    background-color: blue;   
}
.I{
    background-color: cyan;   
}



.row{
    clear: both;
}

.left-wrapper{
    float:left;
    width:200px;
    margin-right:30px;
    padding-top:100px;

}

.REN{
    width:100%;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 30px;
}

.right-wrapper{
    float:left;
    width:250px;
    margin-left:30px
}
.instruction{
    float:left;
    width:100%;
    text-align: center;
}


@media screen and (max-width: 1199px){
    .container{
        width:100%;
        margin-right:0 !important;
        margin-left:0 !important;
    }
}