// Place all the styles related to the tetris controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/




$cell-size: 30px;
$grid-width: $cell-size * 10; //grid-size = 300px
$tetris-height: $cell-size * 25;

$hold-cell-size: 20px;
$hold-size: $hold-cell-size * 5;
//hold-size = 100px

$next-cell-size: 15px;
$next-size: $next-cell-size * 5;
//next-size = 75px

$tetris-width: 1.2 * ($hold-size + $grid-width + $next-size + 20);


$history-width: ($tetris-width * 5 + 70px)/3;

$left-wrapper-width: 200px;
$right-wrapper-width:250px;



body{
    padding-top:80px;
}

.main{
    width:$left-wrapper-width + $tetris-width + $right-wrapper-width + 60px;
    margin-left:auto;
    margin-right:auto;
}

.space{
    height:30px;
}

.tetris{
    float:left;
    height:$tetris-height;
    width:$tetris-width;
    background-color:lightpink;
    border:solid black 3px; 
}

.hold-wrapper{
    float:left;
    width: $hold-size*1.2;
    height:100%;
}

.grid-wrapper{
    float:left;
    width: $grid-width*1.2;
    height:100%;
}

.next-wrapper{
    float:left;
    width: $next-size*1.2;
    height:100%;
}

.hold{
    width: $hold-size;
    height: $hold-size;
    background-color: black;
    border: solid cyan 3px;
    padding-left:20px;
    padding-top:25px;
    // margin-top:10px;
    margin-left:auto;
}

.null-hold-cell{
    height: $hold-cell-size;
    width: $hold-cell-size;
    float: left;
}

.hold-cell{
    height: $hold-cell-size;
    width: $hold-cell-size;
    float: left;
    border: solid #555 1px;
}

.next-list{
    margin-top:10px;
}

.next{
    width: $next-size;
    height: $next-size;
    background-color: black;
    border: solid cyan 3px;
    padding-left:20px;
    padding-top:25px;
    margin-left:auto;
    margin-right:auto;
}

.null-next-cell{
    height: $next-cell-size;
    width: $next-cell-size;
    float: left;
}

.next-cell{
    height: $next-cell-size;
    width: $next-cell-size;
    float: left;
    border: solid #555 1px;
}

.grid{
    width:$grid-width;
    float:left;
    margin-left: 60px;
    margin-top:30px;
}

.cell{
    height: $cell-size;
    width: $cell-size;
    float: left;
    border: solid #555 1px;
}


.empty{
    background-color: #000;
}


.full{
    background-color: #888;
}

.T{
    background-color: purple;   
}

.S{
    background-color: greenyellow;   
}
.Z{
    background-color: red;   
}
.O{
    background-color: yellow;   
}
.L{
    background-color: orange;   
}
.J{ 
    background-color: blue;   
}
.I{
    background-color: cyan;   
}



.row{
    clear: both;
}

.left-wrapper{
    float:left;
    width:$left-wrapper-width;
    margin-right:30px;
    padding-top:100px;
}

.REN{
    width:100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.right-wrapper{
    float:left;
    width:$right-wrapper-width;
    margin-left:30px
}
.instruction{
    width:100%;
    text-align: center;
}

.record-form{
    padding:15px 10% 0 10% !important;
    height: 130px;
    font-weight: bold;
}

.record-form-text{
    margin-top: 0 !important;
    padding:5% !important;

}

.record-message{
    width:100%;
    font-weight: bold;
    text-align: center;
    padding:35px 10% 0 10% !important;
    height: 100px;
    // background-color: skyblue;
    margin-bottom: 30px;
}

.non-record-message{
    width:100%;
    text-align: center;
    padding:25px 10% 0 10% !important;
    height: 100px;
    // background-color: #d4edda;
    margin-bottom: 30px;
}

.gameover-bar{
    height:50px;
    margin-bottom:20px;
    font-weight: bold;

}

input:invalid{
    border: 5px solid red;
}

input:valid{
    border: 1px solid blue;
}

.history-wrapper{
    width:$history-width;
    height:900px;
    background-color: darkblue;
    margin-top: 100px;
    overflow: scroll;
    margin-left:auto;
    margin-right:auto;
}

.mini{
    zoom:0.333;
    position:relative;
}


//以下選択モード用
.choice-wrapper{
    width:$tetris-width;
    height:$cell-size * 10;
    margin-left: $left-wrapper-width + 30px;
}

.panel-wrapper{
    display: flex;
    justify-content: space-evenly;
    height:$cell-size * 5;
    width:100%;
    margin:0 auto;
    padding-top: $cell-size * 0.5;
    padding-bottom: $cell-size * 0.5;
}

.panel{
    cursor: pointer;
    width: $cell-size * 4 + 30px;
    height: $cell-size * 4 + 3px;
    padding-left: 27px;
    border :solid  2px black;
    box-shadow: 4px 4px;
}

.hold-panel{
    box-shadow: 4px 4px black;
    cursor: pointer;
    margin:30px auto 0px auto;
    margin-left: auto;
    margin-right: auto;
    color:cyan;
    font-weight: bold;
}


.btn-shadow-2{
    box-shadow: 2px 2px black;
}

.btn-shadow-4{
    box-shadow: 4px 4px black;
}




$xx-large: 32px;
$x-large: 24px;
$large: 16px;
.xx-large{
    font-size: $xx-large !important;
}
.x-large{
    font-size: $x-large !important;
}
.large{
    font-size: $large !important;
}

// @media screen and (max-width: 1092px){
//     $zoom-ratio: 0.6;
//     $xx-large: 32px*$zoom-ratio;
//     $x-large: 24px*$zoom-ratio;
//     $large: 16px*$zoom-ratio;
    
//     .xx-large{
//         font-size: $xx-large !important;
//     }
//     .x-large{
//         font-size: $x-large !important;
//     }
//     .large{
//         font-size: $large !important;
//     }
    
//     .container-fluid{
//         zoom: 0.6;
//     }
// }




//ランキング用
.gray{
    color:gray;
}
.brown{
    color: #804000;
}
.green{
    color: green;
}
.cyan{
    color: #00C0C0;
}
.blue{
    color: blue;
}
.yellow{
    color: #C0C000;    
}
.orange{
    color: #FF8000;
}
.red{
    color: red;    
}



@media screen and (max-width: 500px){
    $zoom-ratio: 0.3;
    $xx-large: 32px*$zoom-ratio;
    $x-large: 24px*$zoom-ratio;
    $large: 16px*$zoom-ratio;
    .xx-large{
        font-size: $xx-large !important;
    }
    .x-large{
        font-size: $x-large !important;
    }
    .large{
        font-size: $large !important;
    }
    .container-fluid{
        zoom: 0.3 !important;
    }
    .mini{
        // zoom: 0.5 !important;
        zoom: 0.5 !important;
    }
    .cell{
        border:solid 1px #555!important;
    }
}

@media screen and (min-width: 1000px){
    .for-small{
        display: none;
    }
}





